<h2>Account Information</h2><br>
​
<h4><i class="fas fa-user prefix"></i> Name: {{firstName}} {{lastName}}</h4><br>
<h4><i class="fas fa-user prefix"></i> Username: {{userName}}</h4><br>
<h4><i class="fas fa-envelope prefix"></i> Email: {{email}}</h4><br>
<h4><i class="fas fa-phone prefix"></i> Phone Number: {{phoneNumber}}</h4><br>
<h4><i class="fas fa-map-marked-alt prefix"></i> Street Address: {{streetAddress}}</h4><br>